<a href="https://colab.research.google.com/github/ayyddinnnn/S2codebase/blob/main/s2_exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##experiment no 1
**Introducing python as a tool for computational mathematics**

##Aim

To introduce python programming fundamentals and demonstrate its use as a computational tool for basic mathamatical operations releavent to engineering mathematics.

1. **Hello World**
The classic first program for any language

In [ ]:
print("Hello,world!")

Hello,world

2. **Basic arithmetic operations**
Simple operations like addition,substraction,division etc

In [ ]:
#Addition
a=5;b=3
print("a+b=",a + b)

#Substraction
print("a-b=",a - b)

#Multiplication
print("a*b=",a * b)

#Division
print("a/b=",a / b)

a+b= 8
a-b= 2
a*b= 15
a/b= 1.6666666666666667

**Variablesa and data types**
Introduction to different data types like integer ,float,strings and complexes

In [ ]:
#iNTEGEAR
X = 10
print("daTA TYPE OF X IS ", type(X))
#FLOAT
y = 8.54
print("daTA TYPE OF y IS ", type(y))
#string
p = "helllo aydin"
print("daTA TYPE OF p IS ", type(p))
#complex
c = 2+3j
print("daTA TYPE OF X IS ", type(c))

daTA TYPE OF X IS  <class 'int'>
daTA TYPE OF y IS  <class 'float'>
daTA TYPE OF p IS  <class 'str'>
daTA TYPE OF X IS  <class 'complex'>

**Lists**
creating and manipulating list

In [ ]:
#creating a llist
fruits=["apple","banana","cherry"]
print('list',fruits)
#appending
fruits.append("orange")
print("updatedlist",fruits)
#removing an element
fruits.remove("banana")
print("listafterremoval",fruits)
#inserting an element to specific pos
fruits.insert(0,"banana")
print("newupdatedlist",fruits)

list ['apple', 'banana', 'cherry']
updatedlist ['apple', 'banana', 'cherry', 'orange']
listafterremoval ['apple', 'cherry', 'orange']
newupdatedlist ['banana', 'apple', 'cherry', 'orange']

5.**Loops**
using for and while loop

In [ ]:
#for loo[
for i in range(5):
  print("for loop iteration ",i)

In [ ]:
#while
count=0
while count<=5:
  print("while loop iteration ", count)
  count+=1

**6. conditional statment**

> Add blockquote

In [ ]:
number = 0
if number >0:
  print("positive number")
elif number ==0:
  print("zero")
else:
  print("negative number")

zero

**7. functions**
defining and calliing function

In [ ]:
#defundung a func
def greet(name):
  return("hello, "+name)

  #calling a func
print(greet("alice"))
print(greet("alice"))

**Importing numpy **

In [ ]:
import numpy as np

**8. Creating arrays using numpy**

In [13]:
import numpy as np

#Creating a 1D array
array_1d=np.array([1,2,3,4,5])
print("1d Array",array_1d)

#Creating a 2D array

array_2d=np.array([[1,2,3],[4,5,6]])
print("1d Array \n",array_2d)

1d Array [1 2 3 4 5]
1d Array
 [[1 2 3]
 [4 5 6]]

10. **Basic arithematic operations**

In [ ]:
a=np.array([1,2,3])
b=np.array([4,5,6])
print("addition",a+b)

#element-wise substraction
print("substraction :",a-b)
#Element-wise multiplication
print("multplication",a*b)
#element wise division
print("division",a/b)